body::-webkit-scrollbar {
  display: none;
}

.canvas-img {
  width: 100%;
}

.pro-pics-frame {
  position: absolute;
  display: flex;
  height: 35%;
  width: 100%;
}

.pro-pics {
  background-position: center;
  width: 44.8%;
  height: 44.8%;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2.5px solid #dd734a;
  background-color: white;
  /* box-shadow: 0 0 13px 0px #dd734a; */
  position: absolute;
  right: 5.5%;
  top: 26.1%;
}

.quote-frame {
  left: 0%;
  border-radius: 0;
  border-color: transparent;
  width: 46%;
  padding-left: 13px;
  padding-right: 13px;
  word-spacing: 2px;
  word-break: break-all;
  font-family: "Times New Roman";
  height: 38%;
  top: 36% !important;
}

.pro-name {
  color: #5f3744;
  border-color: transparent;
  height: 6%;
  border-radius: 0;
  top: 74%;
  width: 50%;
  line-height: 1.1;
  right: 5%;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bolder;
  font-family: system-ui;
  text-align: center;
}

/**/
.app-page {
  width: 50%;
  background: #fefeff;
  /* position: absolute; */
  top: -35%;
  height: 100vh;
  margin: auto;
  /*left: 50%;*/
  /* transform: translate(-50%, 50%); */
  border-radius: 7px 7px 0 0;
  box-shadow: 0px 0px 11px #bbbbbb;
}

.app-page > div {
  /*height: 100%;*/
}

.app-preview {
  width: 200px;
  height: 200px;
  background-size: cover;
  /* border: 1px solid black; */
  margin: 20px auto;
  background-image: url("the thr.png");
}

.app-img-header {
  position: sticky;
  top: 0;
  background-color: white;
  font-size: 11px;
}

.preview-img {
  width: 300px;
}

#canvas {
  width: 900px;
  height: 900px;
}

@media (max-width: 880px) {
  .app-page {
    width: 100%;
    background: #fefeff;
  }

  .pro-name {
    font-size: 2rem;
  }

  .app-page > div {
    height: 80%;
  }

  .preview-img {
    width: 80%;
  }

  .app-img-header {
    height: 4rem;
    /*width: 90%;*/
    margin: auto;
  }

  .app-preview {
    width: 500px;
    height: 500px;
    background-size: cover;
    /* border: 1px solid black; */
    margin: 20px auto;
    background-image: url("the thr.jpg");
  }
}
/**/
@media (max-width: 1150px) {
  .pro-name {
    font-size: 2.5em;
  }
}

@media (max-width: 900px) {
  .pro-name {
    font-size: 1.5em;
  }
}

@media (max-width: 800px) {
  .pro-name {
    font-size: 1.4em;
  }
}

@media (max-width: 600px) {
  .pro-name {
    font-size: 1.1rem;
  }
}

@media (max-width: 500px) {
  .pro-name {
    font-size: 1rem;
  }
  .quote-frame {
    font-size: 0.7em;
  }
  .pro-pics {
    margin-left: 0px;
  }
}

@media (max-width: 400px) {
  .pro-name {
    font-size: 0.8rem;
  }
  .quote-frame {
    font-size: 0.6em;
  }
  .pro-pics {
    margin-left: 0px;
  }
}

.cover {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("the thr.jpg");
  background-position: top;
  background-size: cover;
}
